
.grid-container{
  margin: 0 auto;
  width:95%;
  max-width:1440px;
}

body{
  font-family: 'lato',sans-serif;

}

.Reviews {
  margin: 50px auto;
}

@media screen and (min-width:800px) {
.grid-container {
  display: grid;
  grid-template-columns: 1fr minmax(1fr, 200px);
  grid-template-rows: 1fr 0.8fr 1.2fr 1fr;
  grid-template-areas: "Carousel Carousel ProductDetails ProductDetails" "Reviews Reviews ProductDetails ProductDetails" "Reviews Reviews . ." "MoreFrom MoreFrom MoreFrom MoreFrom";
}

.Carousel { grid-area: Carousel; }

.ProductDetails { grid-area: ProductDetails; }

.Reviews { grid-area: Reviews; }

.MoreFrom { grid-area: MoreFrom; }

}